body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: monospace;
    color: white;
}

#container {
    text-align: center;
}

#clock {
    font-size: 5rem;
    margin-bottom: 1rem;
}

#date {
    font-size: 2rem;
}
